<ngx-loading [show]="clientsService.saving || clientsService.deleting"></ngx-loading>
<h1 class="display-4">Clientes</h1>
<p class="lead">
    Este módulo é responsável pelo CRUD de clientes. É possível criar um novo cliente
    clicando no botão 'Novo', e também é possível editar e excluir, clicando nos botões
    do respectivo cliente. 
</p>
<div class="form-group">
    <input placeholder="Pesquisar" type="text" class="form-control" [formControl]="searchInput">
</div>
<div id="scrollTarget" class="row align-items-center justify-content-center justify-content-sm-between">
    <div class="col-auto mb-3 my-sm-0 mb-sm-3">
        <ngx-shimmer-loading *ngIf="clientsService.loading" [borderRadius]="'5px'" [shape]="'circle'" [width]="'45px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading *ngIf="clientsService.loading" [borderRadius]="'5px'" [shape]="'circle'" [width]="'45px'"></ngx-shimmer-loading>
        <button *ngIf="!clientsService.loading" (click)="onNewClientPressed()" class="btn btn-success btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
        <button *ngIf="!clientsService.loading" (click)="loadClients({ closeAlerts: true })" class="btn btn-primary btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
        </button>
    </div>
    <div class="col-auto">
        <ngx-shimmer-loading class="d-flex pb-4" *ngIf="clientsService.loading" [borderRadius]="'5px'" [width]="'203px'" [height]="'38px'"></ngx-shimmer-loading>
        <ngb-pagination *ngIf="!clientsService.loading && clients.length > 0" (pageChange)="listenToPageChange($event)" [collectionSize]="clientsCount" [(page)]="page" [pageSize]="pageSize">
            <ng-template ngbPaginationPages let-page let-pages="pages" class="align-items-center">
                <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="d-flex flex-nowrap px-2 align-middle">
                        <label id="paginationInputLabel" for="paginationInput" class="col-form-label mx-1">
                            Página {{ page }} de {{ pages.length }}
                        </label>
                    </div>
                </li>
            </ng-template>
            <ng-template ngbPaginationPrevious>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </ng-template>
            <ng-template ngbPaginationNext>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
            </ng-template>
        </ngb-pagination>
    </div>
</div>
<ngb-alert *ngFor="let alert of alerts; let i = index" [type]="alert.type" (closed)="closeAlert(i)">{{ alert.message }}</ngb-alert>
<div class="mb-4" *ngIf="!clientsService.loading && clientsService.loaded">
    <div *ngIf="clients.length > 0">
        <div *ngFor="let client of clients" class="w-100 my-2 py-4 py-sm-2 px-4 bg-light custom-rounded">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-auto text-center text-sm-left">
                    <img [src]="client.photo ? client.photo : './assets/img/user-without-photo.png'" class="img-fluid rounded-circle" width="60px">
                </div>
                <div class="col-sm text-center text-sm-left my-3 my-sm-0">
                    {{ client.name }}
                </div>
                <div class="col-sm-auto text-center text-sm-left">
                    <button (click)="onEditPressed(client)" class="btn btn-secondary btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </button>
                    <button (click)="onDeletePressed(client)" class="btn btn-danger btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="clients.length == 0">
        <div class="alert alert-warning" role="alert">
            Não há clientes a serem exibidos.
        </div>
    </div>
</div>
<div class="mb-4" *ngIf="clientsService.loading">
    <ngx-shimmer-loading [borderRadius]="'5px'" [width]="'100%'" [height]="'58px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading [borderRadius]="'5px'" [width]="'100%'" [height]="'58px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading [borderRadius]="'5px'" [width]="'100%'" [height]="'58px'"></ngx-shimmer-loading>
    <ngx-shimmer-loading [borderRadius]="'5px'" [width]="'100%'" [height]="'58px'"></ngx-shimmer-loading>
</div>
<ngx-shimmer-loading *ngIf="clientsService.loading" class="d-flex justify-content-end mb-4" [borderRadius]="'5px'" [width]="'203px'" [height]="'38px'"></ngx-shimmer-loading>
<ngb-pagination *ngIf="!clientsService.loading && clients.length > 0" class="d-flex justify-content-center justify-content-sm-end" (pageChange)="listenToPageChange($event)" [collectionSize]="clientsCount" [(page)]="page" [pageSize]="pageSize">
    <ng-template ngbPaginationPages let-page let-pages="pages" class="align-items-center">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="d-flex flex-nowrap px-2 align-middle">
                <label id="paginationInputLabel" for="paginationInput" class="col-form-label mx-1">
                    Página {{ page }} de {{ pages.length }}
                </label>
            </div>
        </li>
    </ng-template>
    <ng-template ngbPaginationPrevious>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
    </ng-template>
    <ng-template ngbPaginationNext>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </ng-template>
</ngb-pagination>