<div class="sticky-top bg-white" style="border-top: 8px solid #b71c1c"></div>
<h4 class="text-center text-primary title">HARLEY'S SKILLS</h4>

<div class="container">
  <app-user-container></app-user-container>
  <div class="alert alert-light" role="alert">
    Neste projeto você pode acessar os módulos que servem de demonstração para o que eu
    (Harley de Brito) tenho como habilidades para desenvolver em Angular 2+. Juntamente
    com o Firebase, Harley's Skills manipula dados e utiliza APIs em uma interface
    intuitiva. Inclusive, o menu abaixo também é carregado dinamicamente. Como sou
    estagiário da Globo, a interface foi só um pouquinho inspirada em algumas páginas :).
  </div>
    
 <hr class="divider">
  <app-navigation></app-navigation>
</div>