<app-screen-centered-container>
    <div class="outside-container">
        <ngx-loading [show]="firebaseAuthService.loading"></ngx-loading>
    </div>
    <div class="inside-container">
        <h1 class="display-4 text-center">Bem vindo!</h1>
        <p class="lead text-center mb-3">Entre ou cadastre-se para continuar</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input [ngClass]="applyValidation('email')" class="form-control" type="email" id="email" formControlName="email">
                <div *ngIf="verifyError('email', 'required')" class="invalid-feedback">Obrigatório</div>
                <div *ngIf="verifyError('email', 'email')" class="invalid-feedback">Digite um email válido</div>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input [ngClass]="applyValidation('password')" class="form-control" type="password" id="password" formControlName="password">
                <div *ngIf="verifyError('password', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
            <ngb-alert *ngIf="waitingForEmailVerification" [dismissible]="false">
                Clique no link de verificação enviado para <strong>{{ emailToVerify }}</strong>, em seguida entre novamente.
            </ngb-alert>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="firebaseAuthService.loading">
                <div [ngSwitch]="firebaseAuthService.loading">
                    <div *ngSwitchCase="true">CARREGANDO</div>
                    <div *ngSwitchDefault>ENTRAR</div>
                </div>
            </button>
        </form>
    </div>
    <div class="below-container">
        <br>
        <p class="text-center text-white">Não tem uma conta? <a routerLink="./new">Cadastre-se</a></p>
    </div>
</app-screen-centered-container>