<app-screen-centered-container>
    <div class="outside-container">
        <ngx-loading [show]="firebaseAuthService.loading"></ngx-loading>
    </div>
    <div class="inside-container">
        <h1 class="display-4 text-center">Crie sua conta</h1>
        <p class="lead text-center mb-3">Insira os dados de sua conta</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Nome completo</label>
                <input [ngClass]="applyValidation('name')" class="form-control" type="text" id="name" formControlName="name">
                <div *ngIf="verifyError('name', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input [ngClass]="applyValidation('email')" class="form-control" type="email" id="email" formControlName="email">
                <div *ngIf="verifyError('email', 'required')" class="invalid-feedback">Obrigatório</div>
                <div *ngIf="verifyError('email', 'email')" class="invalid-feedback">Digite um email válido</div>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input [ngClass]="applyValidation('password')" class="form-control" type="password" id="password" formControlName="password">
                <div *ngIf="verifyError('password', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
            <div class="form-group">
                <label for="password">Confirme a senha</label>
                <input [ngClass]="applyValidation('passwordConfirm')" class="form-control" type="password" id="passwordConfirm" formControlName="passwordConfirm">
                <div *ngIf="verifyError('passwordConfirm', 'equalsTo')" class="invalid-feedback">Senhas não coincidem</div>
            </div>
            
            <button class="btn btn-primary btn-block" type="submit" [disabled]="firebaseAuthService.loading">
                <div [ngSwitch]="firebaseAuthService.loading">
                    <div *ngSwitchCase="true">CARREGANDO</div>
                    <div *ngSwitchDefault>CRIAR CONTA</div>
                </div>
            </button>
        </form>
    </div>
    <div class="below-container">
        <br>
        <p class="text-center text-white">Já possui email cadastrado? <a routerLink="/login">Login</a></p>
    </div>
</app-screen-centered-container>