<div *ngIf="user$ | async as user" class="row px-3">
    <img width="60px" src="https://avatars.githubusercontent.com/u/22543873?v=4" class="img-fluid rounded-circle mb-3 mr-3">
    <div>
        <h4 class="">{{ user.name }}</h4>
        <a class="text-primary" (click)="onLogoutClick()">Sair</a>
    </div>
</div>