<div class="sticky-top bg-white" style="border-top: 8px solid #b71c1c"></div>
<h4 class="text-center text-primary title">HARLEY'S SKILLS</h4>

<div class="container">
  <app-user-container></app-user-container>
  <div class="row">
    <button class="btn btn-link" routerLink="/home">Home</button>
    <div *ngIf="routes$ | async as routes">
      <div *ngIf="routes.length > 2">
        <div *ngFor="let route of routes; let i = index">
          <div [ngSwitch]="route">
            <div *ngSwitchCase="'clients'">
              <button class="btn btn-link" [routerLink]="'/' + route">Clientes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <hr class="divider">
 <router-outlet></router-outlet>
</div>