<div class="modal-body">
  <div class="container mt-4 mb-4">
    <div class="row justify-content-end">
      <div class="col">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <h1 class="display-4">Novo cliente</h1>
    <p class="lead">Este modal faz parte do pacote ngx-bootstrap. O usuário deve entrar
                    com as informações do cliente, e ao clicar em "Confirmar", o modal envia
                    as informações para a tela anterior para os devidos tratamentos.
    </p>
    <label>Foto de perfil</label>
    <img *ngIf="client && !imageChangedEvent" class="img-fluid rounded-circle mx-auto d-block my-4" [src]="client.photo">
    <image-cropper *ngIf="imageChangedEvent" class="mb-3 rounded-lg" style="max-height: 400px;"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1/1"
      format="jpeg"
      [resizeToWidth]="500"
      onlyScaleDown="true"
      roundCropper="true"
      (imageCropped)="imageCropped($event)"
    ></image-cropper>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="profilePhoto" (change)="onSelectImage($event)">
      <label id="profilePhotoLabel" class="custom-file-label" for="profilePhoto">Escolha uma foto</label>
    </div>
    <h5>Informações pessoais</h5>
    <hr class="divider">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div id="nameField" class="form-group">
        <label for="name">Nome</label>
        <input [ngClass]="applyValidation('name')" class="form-control" type="text" id="name" formControlName="name" maxlength="50">
        <div *ngIf="verifyError('name', 'required')" class="invalid-feedback">Obrigatório</div>
      </div>
      <div class="form-row">
        <div class="col-sm">
          <div id="cpfField" class="form-group">
            <label for="cpf">CPF</label>
            <input [ngClass]="applyValidation('cpf')" class="form-control" type="text" id="cpf" formControlName="cpf" inputmode="numeric" mask="000.000.000-00" placeholder="000.000.000-00">
            <div *ngIf="verifyError('cpf', 'required')" class="invalid-feedback">Obrigatório</div>
            <small class="form-text text-muted">Somente números.</small>
          </div>
        </div>
        <div class="col-sm">
          <div id="rgField" class="form-group">
            <label for="rg">RG</label>
            <input [ngClass]="applyValidation('rg')" class="form-control" type="text" id="rg" formControlName="rg" maxlength="15">
          </div>
        </div>
      </div>
      <div id="phoneField" class="form-group">
        <label for="phone">Celular</label>
        <input [ngClass]="applyValidation('phone')" class="form-control" type="text" id="phone" formControlName="phone" inputmode="numeric" placeholder="(00) 0 0000-0000" mask="(00) 0 0000-0000">
        <small class="form-text text-muted">Somente números.</small>
      </div>
      <div id="addressField" formGroupName="address">
        <h5>Endereço</h5>
        <hr class="divider">
        <div class="form-row">
          <div class="col">
            <div id="countryField" class="form-group">
              <label for="country">País</label>
              <input [ngClass]="applyValidation('address.country')" class="form-control" type="text" id="country" formControlName="country">
              <div *ngIf="verifyError('address.country', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
          </div>
          <div class="col">
            <div id="cepField" class="form-group">
              <label for="cep">CEP</label>
              <input [ngClass]="applyValidation('address.cep')" class="form-control" type="text" id="cep" formControlName="cep" inputmode="numeric" placeholder="00000-000" mask="00000-000">
              <div *ngIf="verifyError('address.cep', 'required')" class="invalid-feedback">Obrigatório</div>
              <div *ngIf="verifyError('address.cep', 'invalid')" class="invalid-feedback">Inválido</div>
              <small class="form-text text-muted">Somente números.</small>
            </div>
          </div>
        </div>
        <small class="form-text text-muted form-group">
          Se algum campo de endereço que foi preenchido automaticamente não corresponder ao local onde reside,
          verifique o CEP digitado.
        </small>
        <div class="form-row">
          <div class="col-auto">
            <div id="stateField" class="form-group">
              <label for="state">Estado</label>
              <select [ngClass]="applyValidation('address.state')" class="form-control" id="state" formControlName="state" [compareWith]="compareStates">
                <option *ngFor="let state of states" [ngValue]="state">{{ state.initials }}</option>
              </select>
              <div *ngIf="verifyError('address.state', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
          </div>
          <div class="col">
            <div id="cityField" class="form-group">
              <label for="city">Cidade</label>
              <select [ngClass]="applyValidation('address.city')" class="form-control" id="city" formControlName="city">
                <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
              </select>
              <div *ngIf="verifyError('address.city', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-9">
            <div id="streetField" class="form-group">
              <label for="street">Endereço</label>
              <input [ngClass]="applyValidation('address.street')" class="form-control" type="text" id="street" formControlName="street">
              <div *ngIf="verifyError('address.street', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
          </div>
          <div class="col-3">
            <div id="numberField" class="form-group">
              <label for="number">Número</label>
              <input [ngClass]="applyValidation('address.number')" class="form-control" type="text" inputmode="numeric" id="number" formControlName="number">
              <div *ngIf="verifyError('address.number', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm">
            <div id="districtField" class="form-group">
              <label for="district">Bairro</label>
              <input [ngClass]="applyValidation('address.district')" class="form-control" type="text" id="district" formControlName="district">
              <div *ngIf="verifyError('address.district', 'required')" class="invalid-feedback">Obrigatório</div>
            </div>
          </div>
          <div class="col-sm">
            <div id="complementField" class="form-group">
              <label for="complement">Complemento</label>
              <input [ngClass]="applyValidation('address.complement')" class="form-control" type="text" id="complement" formControlName="complement">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="button" class="btn btn-primary" (click)="activeModal.close()">Cancelar</button>
          <button type="submit" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </form>
  </div> 
</div>